:root {
    --title-font: clamp(36px, 6vw, 3rem);
    --main-font: clamp(14px, 2vw, 1.5rem);
    --first-back-color: rgb(243, 243, 243);
    --second-back-color: rgb(255, 255, 255);
    --logo-back-color: rgba(27, 25, 25, 0.5);
}

body {
    display: flex;
    background-image: url("thomas-bennie-lxziZx-TfSo-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: var(--main-font);
    margin: 0 auto;
}

.main-logo {
    display: flex;
    width: 33%;
    height: 100vh;
}

.main-form {
    display: flex;
    flex-direction: column;
    background-color: var(--first-back-color);
    font-size: var(--main-font);
    width: 67%;
}

.logo {
    position: relative;
    top: 20%;
    display: flex;
    background-color: var(--logo-back-color);
    width: 100%;
    height: calc(var(--title-font) + 5vh); 
    color: var(--first-back-color);
    font-size: var(--title-font);
    align-items: center;
    justify-content: center;
}

.header, .form, .account {
    min-height: calc(var(--title-font) + 10vh); 
    padding: 1.5rem;
    font-weight: 600;
}

.form {
    display: flex;
    flex-direction: column;
    background-color: var(--second-back-color);
    box-shadow: 0 3px 8px gray;
}
 button[type="submit"] {
    background-color: coral;
    border-radius: .3rem;
    border: none;
    font-size: var(--main-font);
    height: calc(var(--main-font) + 20px);
    width: fit-content;
    color: var(--second-back-color);
    box-shadow: 0 1px 3px gray;
    margin: 1rem;
    margin-left: 0;
    transition: all .2s;
}

button[type="submit"]:hover {
    transform: scale(.9);
}
 .account {
    font-size: calc(var(--main-font) - 5px);
 }
 
 a {
    text-decoration: none;
    color: coral;
 }

.form-left > div, .form-right > div {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    margin-right: 3rem;
    margin-left: 0;
    margin-bottom: 0;
    color: gray;
}

form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: calc(var(--main-font) - 7px);
}

input {
    font-size: calc(var(--main-font) - 6px);
    border-radius: .15rem;
    border: 1px solid gray;
}

input:focus {
    box-shadow: 0 2px 3px gray;
    border: 1px solid blue;
    outline: none;
}
  
input[type="password"] {
    border: 1px solid red;
}
