:root {
    --title-font: clamp(36px, 6vw, 3rem);
    --main-font: clamp(16px, 1.6vw, 1.5rem);
    --first-back-color: rgb(247, 247, 247);
    --second-back-color: rgb(255, 255, 255);
    --logo-back-color: rgba(27, 25, 25, 0.5);
}

body {
    display: flex;
    background-image: url("thomas-bennie-lxziZx-TfSo-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: var(--main-font);
    margin: 0 auto;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.main-logo {
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 100vh;
}

.main-form {
    display: flex;
    flex-direction: column;
    background-color: var(--first-back-color);
    font-size: var(--main-font);
    width: 65%;
}

.logo {
    position: relative;
    top: 17%;
    display: flex;
    background-color: var(--logo-back-color);
    width: 100%;
    height: calc(var(--title-font) + 5vh); 
    color: var(--first-back-color);
    font-size: var(--title-font);
    align-items: center;
    justify-content: center;
}

.header, .form, .account {
    min-height: calc(var(--title-font) + 14vh); 
    padding: 1.5rem;
    font-weight: 600;
}

.form {
    display: flex;
    flex-direction: column;
    background-color: var(--second-back-color);
    box-shadow: 0 3px 8px gray;
}
 button[type="submit"] {
    background-color: coral;
    border-radius: .3rem;
    border: none;
    font-size: var(--main-font);
    height: calc(var(--main-font) + 20px);
    width: fit-content;
    color: var(--second-back-color);
    box-shadow: 0 1px 3px gray;
    margin: 1rem;
    margin-left: 0;
    transition: all .2s;
}

button[type="submit"]:hover {
    transform: scale(.9);
}
 .account {
    font-size: calc(var(--main-font) - 5px);
 }
 
 a {
    text-decoration: none;
    color: coral;
 }

 .photo-creator a {
    text-decoration: none;
    color: var(--second-back-color);
 }

.form-left > div, .form-right > div {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    margin-right: 3rem;
    margin-left: 0;
    margin-bottom: 0;
    color: gray;
}

form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

input {
    font-size: calc(var(--main-font) - 3px);
    border-radius: 0.15rem;
    border: 1px solid gray;
}

input[required]:invalid {
    border: 1px solid red;
}

input::placeholder {
    color: rgba(128, 128, 128, 0.418);
    font-size: calc(var(--main-font) - 6px);
}

input:focus {
    box-shadow: 0 2px 3px gray;
    border: 1px solid blue;
    outline: none;
}

label {
    font-size: calc(var(--main-font) - 6px);
}

.photo-creator {
    position: relative;
    top: 82%;
    left:15%;
    font-size: calc(var(--main-font) - 5px);
    color: var(--first-back-color);
}
